/*	@font-face { font-family: SF Digital Readout Medium Oblique; src: url('SF Digital Readout Medium Oblique.ttf');} */
@font-face { font-family: SF Digital Readout Heavy; src: url('SF Digital Readout Heavy.ttf');}


body { background: #8e8a88; }

#calc {
	margin-left:40px;
}

#calcImg {
	z-index:1;
}



.calcDisplay {
	font-family: SF Digital Readout Heavy;
	position: absolute;	
	/* border: 1px solid red; 	 */
}

#display {
	top: 155px;
	left: 80px;
	width: 330px;
	height: 70px;
	/* z-index: 10; */   /* so it lays on top of bkgd image... not stricly necessary?? */
	font-size: 6em;
	direction: rtl;  /* Right to Left */
}

/* Where we display a '-' for negative numbers */
#sign {
	color: #222;
	top: 115px;
	left: 85px;
	width: 40px;
	height: 40px;
	font-size: 4em;
}

#showKeyPress {
	color: #32555b;
	top: 100px;
	left: 380px;
	width: 40px;
	height: 40px;
	font-size: 4em;
}