/*	@font-face { font-family: SF Digital Readout Medium Oblique; src: url('SF Digital Readout Medium Oblique.ttf');} */
@font-face { font-family: SF Digital Readout Heavy; src: url('./SF Digital Readout Heavy.ttf');}


body { background: #8e8a88; }

h1 { margin-top: 10px; }

#credits {
	float: right;
	padding: 12px;
	margin-top: 10px;
	/* border: 1px solid blue;  */
	border-radius: 5px;

	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



#calc {
	margin-left:40px;
}

#calcImg {
	z-index:1;
}



.calcDisplay {
	font-family: SF Digital Readout Heavy;
	position: absolute;	
	/* border: 1px solid red; 	 */
}

#display {
	top: 155px;
	left: 80px;
	width: 330px;
	height: 70px;
	/* z-index: 10; */   /* so it lays on top of bkgd image... not stricly necessary?? */
	font-size: 6em;
	direction: rtl;  /* Right to Left */
}

/* Where we display a '-' for negative numbers */
#sign {
	color: #222;
	top: 115px;
	left: 85px;
	width: 40px;
	height: 40px;
	font-size: 4em;
}

#showKeyPress {
	color: #32555b;
	top: 100px;
	left: 380px;
	width: 40px;
	height: 40px;
	font-size: 4em;
}